---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/bills/?per_page=5&sort=created_at&state=dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - 7dc1ba922a424d88af580364c7b8bd05
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"title": "Correspondence from the Mayor - DMV 2015 Annual Suspension
        and Revocation Report", "created_at": "2016-07-30 04:57:15", "updated_at":
        "2016-07-30 04:57:15", "id": "DCB00008080", "chamber": "upper", "state": "dc",
        "session": "21", "type": ["resolution"], "subjects": [], "bill_id": "RC 21-0106"},
        {"title": "Correspondence from the Mayor - OSSE''s District of Columbia Healthy
        Schools Act of 2010: 2016 Reports - A. Farm-to-School & School Gardens & B.
        Health & Physical Education", "created_at": "2016-07-30 04:56:20", "updated_at":
        "2016-07-30 04:56:20", "id": "DCB00008079", "chamber": "upper", "state": "dc",
        "session": "21", "type": ["resolution"], "subjects": [], "bill_id": "RC 21-0107"},
        {"title": "Michael D. Thompson Recognition Resolution of 2016", "created_at":
        "2016-07-28 04:58:39", "updated_at": "2016-07-28 04:58:39", "id": "DCB00008078",
        "chamber": "upper", "state": "dc", "session": "21", "type": ["resolution"],
        "subjects": [], "bill_id": "CER 21-0251"}, {"title": "The National Organization
        of Black Law Enforcement Executives (NOBLE) Recognition Resolution of 2016",
        "created_at": "2016-07-28 04:58:22", "updated_at": "2016-07-28 04:58:22",
        "id": "DCB00008077", "chamber": "upper", "state": "dc", "session": "21", "type":
        ["resolution"], "subjects": [], "bill_id": "CER 21-0247"}, {"title": "Carla
        Perlo and Deborah Riley Dance Place Recognition Resolution of 2016", "created_at":
        "2016-07-28 04:58:07", "updated_at": "2016-07-28 04:58:07", "id": "DCB00008076",
        "chamber": "upper", "state": "dc", "session": "21", "type": ["resolution"],
        "subjects": [], "bill_id": "CER 21-0246"}]'
  recorded_at: Mon, 01 Aug 2016 09:31:43 GMT
recorded_with: VCR 3.0.3
