---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/bills/?per_page=5&sort=first&state=dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - 7dc1ba922a424d88af580364c7b8bd05
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"title": "Law Enforcement Career Opportunity Amendment Act of 2016",
        "created_at": "2016-07-16 04:56:31", "updated_at": "2016-07-27 04:56:23",
        "id": "DCB00008067", "chamber": "upper", "state": "dc", "session": "21", "type":
        ["bill"], "subjects": [], "bill_id": "B 21-0847"}, {"title": "Metro Safety
        Commission Interstate Compact Establishment Act of 2016", "created_at": "2016-07-13
        04:57:03", "updated_at": "2016-07-19 04:56:49", "id": "DCB00008050", "chamber":
        "upper", "state": "dc", "session": "21", "type": ["bill"], "subjects": [],
        "bill_id": "B 21-0828"}, {"title": "Public Charter School Board Donald Soifer
        Confirmation Emergency Act of 2016", "created_at": "2016-07-08 04:57:35",
        "updated_at": "2016-07-29 04:58:45", "id": "DCB00008022", "chamber": "upper",
        "state": "dc", "session": "21", "type": ["bill"], "subjects": [], "bill_id":
        "B 21-0820"}, {"title": "Interstate Insurance Product Regulation Compact Act
        of 2016", "created_at": "2016-07-13 04:56:46", "updated_at": "2016-07-21 04:56:27",
        "id": "DCB00008044", "chamber": "upper", "state": "dc", "session": "21", "type":
        ["bill"], "subjects": [], "bill_id": "B 21-0830"}, {"title": "Proposed contract
        with DC Central Kitchen Approval Resolution of 2016", "created_at": "2016-06-29
        04:54:38", "updated_at": "2016-07-26 04:56:20", "id": "DCB00007960", "chamber":
        "upper", "state": "dc", "session": "21", "type": ["bill"], "subjects": [],
        "bill_id": "PR 21-0836"}]'
  recorded_at: Mon, 01 Aug 2016 09:30:59 GMT
recorded_with: VCR 3.0.3
