---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/metadata/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - 7dc1ba922a424d88af580364c7b8bd05
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"abbreviation": "al", "chambers": {"upper": {"name": "Senate", "title":
        "Senator"}, "lower": {"name": "House", "title": "Representative"}}, "feature_flags":
        ["subjects", "influenceexplorer"], "name": "Alabama"}, {"abbreviation": "ak",
        "chambers": {"upper": {"name": "Senate", "title": "Senator"}, "lower": {"name":
        "House", "title": "Representative"}}, "feature_flags": ["subjects", "influenceexplorer"],
        "name": "Alaska"}, {"abbreviation": "az", "chambers": {"upper": {"name": "Senate",
        "title": "Senator"}, "lower": {"name": "House", "title": "Representative"}},
        "feature_flags": ["events", "influenceexplo[...]
